/* Necessary fonts from google font. */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@300&display=swap');

/* Basic styling. */
:root {
  --clr-primary: hsl(174, 100%, 29%);
  --clr-primary-hvr: hsl(182, 100%, 29%);
  --clr-secondary: hsl(0, 0%, 100%);
  --fnt-clr: hsl(0, 0%, 27%);
  --gray-primary: hsl(0, 0%, 84%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'architects Daughter', sans-serif;
  letter-spacing: 3px;
}

body {
  background-color: var(--clr-primary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

legend {
  font-size: 1.5rem;
  color: var(--fnt-clr);
  width: 100%;
  text-align: center;
  margin-bottom: 1.2rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgb(197, 197, 197);
}

/* All Classes. */

.form-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-secondary);
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 20px -10px;
  width: 40%;
  max-width: 20rem;
}

.input-container {
  width: 100%;
}

.form-label {
  font-size: 1.2rem;
  color: var(--fnt-clr);
  margin-bottom: 0.4rem;
}

.form-input {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1.4rem;
  border: 2px solid rgb(185, 185, 185);
  outline: none;
  font-size: 1.2rem;
  letter-spacing: 0px;
  font-family: 'Roboto', sans-serif;
}

.btn {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  cursor: pointer;
  margin-bottom: 2.0rem;
  border-radius: 0.3rem;
}

.btn:hover {
  background-color: var(--clr-primary-hvr);
}

.misc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.misc-container > * {
  margin-bottom: 1em;
}

.checkbox-label {
  color: var(--fnt-clr);
  cursor: pointer;
}

.anchor {
  text-decoration: none;
  font-weight: bold;
  color: var(--clr-primary);
}
